ipykernel==7.2.0
matplotlib==3.10.8
nbstripout==0.9.1
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-nvtx==13.0.85
pandas==3.0.2
pip==25.3
scipy==1.17.1
torchvision==0.26.0
